*, *:before, *:after { 
  /*the star '*'means all*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#container {
	/*width: 100%;*/
	/*overflow: auto;*/
}
.clearfix:after {
     content: ".";
     display: block;
     clear: both; 
     visibility: hidden;
     line-height: 0; 
     height: 0;
}
body {
	font-size: 16px;
	font-family: 'droid sans' , helvetica, sans-serif;
	color:#1D3557; 
	background-color: #F1FAEE;
	/*background-image: url(../images/batball.jpg) ;*/
}

header { 
	/*background-color: rgba(241, 237, 237, 0.59);*/
	background-color: #E63946;
	height: 122px;
	margin-bottom: 50px;	
	border-radius: 3px;
	/*position: fixed;*/
	/*text-align: center;*/
	/*position: fixed;*/

}

header h1 {
	padding: 0 0 0 20px;	
	font-size: 48px;
	float: left;
	margin-top: 15px;
	
}

header nav {
	margin-left: 200px; 
}

header a {
	text-decoration: none;
	color:#F1FAEE;
	font-weight: bold;
	font-family: 'droid sans';
}

header nav a {
	float: right;
	/*text-indent: 30;*/
	margin: 100px 10px 10px 10px;
}

.sub-title {
	color:#1D3557;
	font-family: 
	font-size: ;
	margin:74px 83px 10px -188px;	
	/*padding: 90px 10px 0 0;*/
	float: left;
	font-size: 15px;	
}

.buy {
	margin-right: 40px;
}

#middle-body {
	/*border: solid black 2px;*/
	width: 0 auto;
	height: 500px;
	/*vertical-align: baseline;*/
}

.left-align {
	/*margin: 20px 10px 50px 10px;*/
	float: left;
	/*padding-top: 10px;*/
	height: 310px;
	width: 10%;
	margin-top: 110px;
	/*margin-left: 20px;*/
	/*border-radius: 20px;*/
	font-weight: bold;
	/*background-color: rgba(241, 237, 237, 0.59);*/
	/*background:#E63946;*/
}
.facebook {
	margin: 5px 10px 0 18px;
	padding: 0 0 0 19px;
	/*border: 2px solid black;*/
	/*background: #A8DADC;*/
}
.facebook a {
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 39px;
	font-weight: bold;

}
.twitter {
	margin: 2px 10px 0 20px;
	padding-left: 7px;
	/*border: 2px solid black;*/
	/*background: #E63946;*/
}

.twitter a img {
	width: 40px;
	height: 40px;
}
.linkedin {
	margin: 2px 10px 0 15px;
	padding-left: 15px;
	/*border: 2px solid black;*/
	/*background: #A8DADC;*/
}

.linkedin a {
	font-size: 33px;
	font-weight: bold;
	color:#0077B5;
}
.email {
	margin: 2px 10px 0 18px;
	padding-left: 10px;	
	/*border: 2px solid black;*/
	/*background: #E63946;*/
}
.email a img {
	width: 40px;
	height: 40px;
}
.center-align {
	/*width: 100%;*/
}
.middle-center {
	padding:5px;
	border-radius: 15px;
	border: solid #1D3557 3px;
	/*background-color: rgba(241, 237, 237, 0.59);*/
	background-color: #E63946;
	width: 550px;
	height: 406px;
	float: left;
	/*text-align: center;*/
	margin:20px 5px 5px 30px;
	/*margin: 0 auto;*/
	overflow: scroll ;
	text-align: center;
}
.middle-center h3 {
	color:#1D3557;
	font-size: 20px;
}

h2 {
	font-size: 30px;
	font-weight: bold;
}
div h3 {
	font-weight: bold;
	padding-top: 5px;
	padding-bottom:5px;
	font-size: 19px; 
}
.left-center {
	float: left;
	padding:5px;
	margin:20px 0 5px 60px;
	/*margin: 0 auto;*/
	border: solid #1D3557 3px;
	/*background-color: rgba(241, 237, 237, 0.59);*/
	background-color: #E63946;
	border-radius: 15px;
}

.left-center ol {
	overflow: scroll; 
	height: 320px;
	width: 165px;
	background-color: 
}

.right-center {
	float: left;
	padding: 5px;
	margin:20px 5px 5px 23px;
	/*margin: 0 auto;*/
	border: solid #1D3557 3px;
	/*background-color: rgba(241, 237, 237, 0.59);*/
	background-color: #E63946;
	border-radius: 15px;

}

.right-center ol {
	overflow: scroll;
	height: 320px;
	width: 160px;

}

 ol li a {
	text-decoration: none;
	font-size: 17px ;
}

a {
	text-decoration: none;
}

ol li {
	margin-bottom: 12px; 
}

li a {
	color:#F1FAEE;
	margin-bottom: 60px; 
}
h3 {
	margin: 2px 2px 2px 28px;
	color:#1D3557;
	font-size: 18px;
}

.how-to  {
	text-align: center;
	margin-right: 50px;
}


footer {
	/*background-color: rgba(241, 237, 237, 0.59);*/
	background-color: #E63946;
	height: 143px;
	margin-top: 100px;
	padding-top: 10px;
}

footer nav ul li a {  
	/*margin-top: 40px;*/
	text-decoration: none;
	color:#F1FAEE;
	/*font-weight: bold;*/
	font-family: 'droid sans';
	list-style-type: none;
}

footer nav ul {
	/*margin-top: 40px;*/
	list-style-type:none;
}

footer nav ul li {
	padding-top: 5px;
}

p {
	text-align: center;
	margin: 90px 20px 0 330px;
	width: 500px; 
}

.phone {
	margin-top: 5px;
	margin-left: -32223px;
}

.arrow1 {
	float: left;
}

.arrow2 {
	/*margin-left: 390px;*/
	float: right;	
}

span i {
	margin-top:50px;
}

.mlb_logo {
	width: 495px;
    height: 331px;
    margin: -158px 20px 20px 3px;
}

.image-2 {
	margin: 0 0 0 30px;
	width: 280px;
	height: 250px;
	border-radius: 5px;
}

h5 {
	margin: 3px 0 4px 260px;	
	color:#E63946;
	font-size:16px;
}

h3#teamheading {
	text-align: center;
	margin-right: 40px;
	margin-bottom: 10px;
	color:#E63946;
	font-weight: bold;
	font-size: 35px;
}

.image-1 {
	margin-bottom: 32px;
}

.prediction {
	text-indent: 40px;
}

.menuIcon {
	float: right;
}
#contact-left {
	margin-top: 50px;
	margin-right: 50px;
}
.center-align p {
	margin-left:-10px;
}
form ul li {
	margin-top: 8px;
	margin-bottom: 8px;
}
button {
	border-radius: 5px;
	background: #E63946;
	color:#F1FAEE;
}
#aboutus-center {
	margin-left: 400px;	
}



/*@media screen and (min-width:200px) and (max-width:708px)  {
	/** {
	width: 100%;
	border: 1px solid black;
	-moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}*/





@media screen and (min-device-width:1300px) and (max-device-width:1920px)  {
	* {
	/*width: 100%;*/
	/*border: 1px solid black;*/
	-moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

.middle-center {
	height: 410px;
	width: 600px;
}
footer {
	margin-top: 180px;
}

.left-center {
	margin-left: 100px;
	height: 410px;
}
.left-center ol {
	width: 200px;
}
.right-center ol{
	width: 200px;
}
.right-center {
	height: 410px;
}

h2.how-to {
	margin-right: 370px;
}

#aboutus-center {
	margin-left: 610px;
	margin-top: 200px;	
	font-size: 18px;
}
.aboutus-footer {
	margin-top: 210px;
	height: 0 auto;
}
	
form ul li {
	margin-top: 10px;
	margin-bottom: 10px;
}
form h3 {
	margin:20px;
}
.footer-contact  {
	margin-top: 290px;
}

/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    **Will possibly be used for menu**
}*/
	
}






